<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas Streamlit Custom Component</title>
</head>
<style>
    #canvas {
        border: 1px solid #000;
        background: black;
        touch-action: none
    }
</style>
<body>
    <canvas id="canvas" width="280" height="280"></canvas>
    <button id="submit">Ejecutar</button>
    <button id="clear">Limpiar</button>
    <script src="main.js" type="module"></script>
</body>
</html>